@font-face {
    font-family: 'figtree-extrabold';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'figtree-semibold';
    src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    padding: 5rem 1rem;
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container {
    max-width: 500px;
    margin-inline: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
}

.container div:first-child img {
    width: 100%;
    border-radius: 1rem;
}

.title {
    display:inline-block;
    background-color: hsl(47, 88%, 63%);
    font-family: 'figtree-extrabold';
    font-size: 1rem;
    padding: 3px 8px;
    margin: 1.5rem 0 1rem;
    border-radius: 3px;
}

.date {
    margin-bottom: 1rem;
    font-family: 'figtree-semibold';
    font-size: 1rem;
    color: hsl(0, 0%, 7%);
}

h1 {
    font-family: 'figtree-extrabold';
    margin-bottom: 1rem;
}

h1:hover {
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

.description {
    font-family: 'figtree';
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    display: flex;
    align-items:center;
    gap: 1rem;
}

ul li:nth-child(2) {
    font-family: 'figtree-extrabold';
    font-size: 1rem;
}

.attribution {
    font-family: 'figtree-semibold';
    font-size: 1rem;
    text-align: center;
    color: black;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}